extends layouts/main.pug

block content 
        main 
            form(action="/admin/add-product", method="POST")
                div 
                    input(type="text", name="title")
                div 
                    button(type="submit") Add Product
