extends layouts/main.pug

block content 
        .product-list 
            each product in products 
                div.prod-item
                    h2.prod-title #{product.title}
                    .item-price #{product.price || 5555}                


